<h2>Log in </h2>

<form action="/process-login" method="POST">
  <label for="">
    Username:
    <input type="text" name="userName" placeholder="Your Username...">
  </label>
  <br>

  <label for="">
    Password:
    <input type="text" name="password" placeholder="Your password">
  </label>
  <br>

  <button type="submit">Log In</button>
</form>