<h2>Sign up</h2>
<form action="/process-sign" method="POST">

  <label for="">
    Username:
    <input type="text" name="userName" placeholder="Enter your name bitch...">
  </label>
  <br>

  <label for="">
    Password:
    <input type="text" name="password" placeholder="It's a secret">
  </label>
  <br>
  <button type="submit"> Sign Up</button>
</form>

{{#if errorMessage}}
<div class="error-message"> {{errorMessage}}</div>
{{/if}}